{
  "openapi": "3.1.0",
  "info": {
    "title": "Aiminis POS API (Full Version)",
    "version": "1.0.0",
    "description": "Full OpenAPI specification for Aiminis POS system, converted from Postman Collection.\nIncludes Auth, Users, Products, Flash Sales, Loyalty, Promotions, Booking, Affiliate, Games, Insurance, and more."
  },
  "servers": [
    {
      "url": "https://upload.aimini.vn",
      "description": "Production API server (Aiminis POS)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "summary": "Login POS",
        "description": "Authenticate POS user and return JWT token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "example": "user@example.com" },
                  "password": { "type": "string", "example": "12345678" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "token": "JWT_TOKEN_EXAMPLE",
                    "user": { "id": 1, "name": "Admin", "role": "manager" }
                  }
                }
              }
            }
          },
          "401": { "description": "Invalid credentials" }
        }
      }
    },   
    "/api/v1/custom-collection": {
      "get": {
        "tags": ["Custom Collection"],
        "summary": "[GET] Custom collection",
        "description": "Retrieve all custom product collections created by the user.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of custom collections",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    { "id": 1, "title": "Featured Products", "slug": "featured-products" }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Custom Collection"],
        "summary": "[POST] Custom collection",
        "description": "Create a new custom product collection.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "danh-muc-2" },
                  "image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661.jpg" },
                  "banner_image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661.jpg" }
                },
                "required": ["name", "slug"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Custom collection created successfully" }
        }
      },
      "x-post-with-parent": {
        "tags": ["Custom Collection"],
        "summary": "[POST] Custom collection with parent",
        "description": "Create a custom collection linked to a parent collection.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 3" },
                  "slug": { "type": "string", "example": "danh-muc-3" },
                  "image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661.jpg" },
                  "banner_image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661.jpg" },
                  "parent_id": { "type": "string", "example": "7bv3gPWj" }
                },
                "required": ["name", "slug", "parent_id"]
              }
            }
          }
        },
        "responses": { "200": { "description": "Custom collection created with parent" } }
      },
      "x-post-with-products": {
        "tags": ["Custom Collection"],
        "summary": "[POST] Custom collection with products",
        "description": "Create a custom collection and attach products to it.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "danh-muc-2" },
                  "image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661.jpg" },
                  "banner_image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661.jpg" },
                  "products[0]": { "type": "string", "example": "PROD_001" }
                },
                "required": ["name", "slug"]
              }
            }
          }
        },
        "responses": { "200": { "description": "Custom collection created with products" } }
      }
    },
    "/api/v1/custom-collection/{id}": {
      "put": {
        "tags": ["Custom Collection"],
        "summary": "[PUT] Custom collection",
        "description": "Update an existing custom collection by ID.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "8qA9dVqo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "danh-muc-2" },
                  "image": { "type": "string" },
                  "banner_image": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Custom collection updated successfully" },
          "404": { "description": "Collection not found" }
        }
      },
      "x-put-with-parent": {
        "tags": ["Custom Collection"],
        "summary": "[PUT] Custom collection with parent",
        "description": "Update an existing custom collection and assign it to a parent collection.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "8qA9dVqo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "danh-muc-2" },
                  "image": { "type": "string" },
                  "banner_image": { "type": "string" },
                  "parent_id": { "type": "string", "example": "7bv3gPWj" }
                },
                "required": ["name", "slug", "parent_id"]
              }
            }
          }
        },
        "responses": { "200": { "description": "Custom collection updated with parent" } }
      },
      "delete": {
        "tags": ["Custom Collection"],
        "summary": "[DELETE] Custom collection",
        "description": "Delete an existing custom collection by ID.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "8qA9dVqo"
          }
        ],
        "responses": {
          "200": { "description": "Collection deleted successfully" },
          "404": { "description": "Collection not found" }
        }
      }
    }
  }
}
