{
  "openapi": "3.1.0",
  "info": {
    "title": "Aimini POS API",
    "description": "Official documentation for Aimini Admin POS API. Includes authentication and POS management endpoints.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.aimini.vn",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login POS",
        "description": "Authenticate POS admin and retrieve an access token for authorized requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "aimini_company40162@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "aimini_company40162@gmail.com"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6..."
                    },
                    "token_type": {
                      "type": "string",
                      "example": "bearer"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 1 },
                        "email": { "type": "string", "example": "aimini_company40162@gmail.com" },
                        "role": { "type": "string", "example": "admin" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Invalid email or password" }
        }
      }
    },

    "/api/v1/products": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product list",
        "description": "Retrieve all available products in the POS system.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "example": 20 },
            "description": "Maximum number of products to return"
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "example": 1 },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Product" }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Products"],
        "summary": "Create product",
        "description": "Add a new product to the POS system.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NewProduct" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Product" }
              }
            }
          }
        }
      }
    },

    "/api/v1/products/{id}": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Product" }
              }
            }
          },
          "404": { "description": "Product not found" }
        }
      },
      "delete": {
        "tags": ["Products"],
        "summary": "Delete product",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "204": { "description": "Product deleted" },
          "404": { "description": "Product not found" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "required": ["id", "name", "price"],
        "properties": {
          "id": { "type": "integer", "example": 101 },
          "name": { "type": "string", "example": "Aimini T-Shirt" },
          "price": { "type": "number", "example": 199000 },
          "category": { "type": "string", "example": "Fashion" },
          "status": { "type": "string", "example": "available" },
          "image_url": { "type": "string", "example": "https://cdn.aimini.vn/images/product101.jpg" }
        }
      },
      "NewProduct": {
        "type": "object",
        "required": ["name", "price"],
        "properties": {
          "name": { "type": "string", "example": "Aimini T-Shirt" },
          "price": { "type": "number", "example": 199000 },
          "category": { "type": "string", "example": "Fashion" },
          "image_url": { "type": "string", "example": "https://cdn.aimini.vn/images/product101.jpg" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
