{
  "openapi": "3.1.0",
  "info": {
    "title": "Aiminis POS API (Full Version)",
    "version": "1.0.0",
    "description": "Full OpenAPI specification for Aiminis POS system, converted from Postman Collection.\nIncludes Auth, Users, Products, Flash Sales, Loyalty, Promotions, Booking, Affiliate, Games, Insurance, and more."
  },
  "servers": [
    {
      "url": "https://upload.aimini.vn",
      "description": "Production API server (Aiminis POS)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "summary": "Login POS",
        "description": "Authenticate POS user and return JWT token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "example": "user@example.com" },
                  "password": { "type": "string", "example": "12345678" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "token": "JWT_TOKEN_EXAMPLE",
                    "user": { "id": 1, "name": "Admin", "role": "manager" }
                  }
                }
              }
            }
          },
          "401": { "description": "Invalid credentials" }
        }
      }
    },   
    "/api/v1/custom-collection": {
      "get": {
        "summary": "Get all custom collections",
        "description": "Retrieve all custom product collections created by the user.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of collections",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "title": "Danh mục 1",
                      "slug": "danh-muc-1"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new custom collection",
        "description": "Add a new custom product collection to the system.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "danh-muc-2" },
                  "image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  },
                  "banner_image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  }
                },
                "required": ["name", "slug"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom collection created successfully",
            "content": {
              "application/json": {
                "example": {
                  "message": "Created successfully",
                  "data": {
                    "id": "8qA9dVqo",
                    "name": "Danh mục 2",
                    "slug": "danh-muc-2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/custom-collection/{id}": {
      "put": {
        "summary": "Update custom collection",
        "description": "Update a specific custom collection by ID.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "8qA9dVqo"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "name" },
                  "image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  },
                  "banner_image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  },
                  "parent_id": {
                    "type": "string",
                    "example": "7bv3gPWj"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom collection updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete custom collection",
        "description": "Delete a custom collection by ID.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "8qA9dVqo"
          }
        ],
        "responses": {
          "204": { "description": "Collection deleted successfully" }
        }
      }
    },
    "/api/v1/custom-collection/with-parent": {
      "post": {
        "summary": "Create new custom collection with parent",
        "description": "Add a new custom product collection that includes a parent_id field.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 3" },
                  "slug": { "type": "string", "example": "danh-muc-3" },
                  "image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  },
                  "banner_image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  },
                  "parent_id": {
                    "type": "string",
                    "example": "7bv3gPWj"
                  }
                },
                "required": ["name", "slug"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom collection with parent created successfully"
          }
        }
      }
    },
    "/api/v1/custom-collection/with-products": {
      "post": {
        "summary": "Create custom collection with products",
        "description": "Add a new custom product collection with related product IDs.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "danh-muc-2" },
                  "image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  },
                  "banner_image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  },
                  "parent_id": { "type": "string", "example": "" },
                  "products": {
                    "type": "array",
                    "items": { "type": "string" },
                    "example": ["P001", "P002"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom collection with products created successfully"
          }
        }
      }
    }
  }
}
