{
  "openapi": "3.1.0",
  "info": {
    "title": "Aiminis POS API (Full Version)",
    "version": "1.0.0",
    "description": "Full OpenAPI specification for Aiminis POS system, converted from Postman Collection.\nIncludes Auth, Users, Products, Flash Sales, Loyalty, Promotions, Booking, Affiliate, Games, Insurance, and more."
  },
  "servers": [
    {
      "url": "https://upload.aimini.vn",
      "description": "Production API server (Aiminis POS)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "summary": "Login POS",
        "description": "Authenticate POS user and return JWT token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "example": "user@example.com" },
                  "password": { "type": "string", "example": "12345678" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "token": "JWT_TOKEN_EXAMPLE",
                    "user": { "id": 1, "name": "Admin", "role": "manager" }
                  }
                }
              }
            }
          },
          "401": { "description": "Invalid credentials" }
        }
      }
    },   
    "/api/v1/custom-collection": {
      "get": {
        "summary": "Get custom collections",
        "description": "Retrieve all custom collections available in the system.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of custom collections",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    { "id": "8qA9dVqo", "name": "Danh mục 1", "slug": "danh-muc-1" },
                    { "id": "7bv3gPWj", "name": "Danh mục 2", "slug": "danh-muc-2" }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create custom collection",
        "description": "Add a new custom collection without parent or products.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "danh-muc-2" },
                  "image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" },
                  "banner_image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" }
                },
                "required": ["name", "slug"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Custom collection created successfully" }
        }
      }
    },
    "/api/v1/custom-collection/with-parent": {
      "post": {
        "summary": "Create custom collection with parent",
        "description": "Add a new custom collection that belongs to another parent collection.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 3" },
                  "slug": { "type": "string", "example": "danh-muc-3" },
                  "banner_image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" },
                  "image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" },
                  "parent_id": { "type": "string", "example": "7bv3gPWj" }
                },
                "required": ["name", "slug"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Custom collection with parent created successfully" }
        }
      }
    },
    "/api/v1/custom-collection/{id}": {
      "put": {
        "summary": "Update custom collection",
        "description": "Update a custom collection by ID (without parent).",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "name" },
                  "banner_image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" },
                  "image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Custom collection updated successfully" }
        }
      }
    },
    "/api/v1/custom-collection/{id}/with-parent": {
      "put": {
        "summary": "Update custom collection with parent",
        "description": "Update a custom collection that belongs to a parent collection.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "name" },
                  "banner_image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" },
                  "image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" },
                  "parent_id": { "type": "string", "example": "7bv3gPWj" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Custom collection with parent updated successfully" }
        }
      }
    },
    "/api/v1/custom-collection/with-products": {
      "post": {
        "summary": "Create custom collection with products",
        "description": "Create or update a custom collection and attach product IDs.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Danh mục 2" },
                  "slug": { "type": "string", "example": "danh-muc-2" },
                  "image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" },
                  "banner_image": { "type": "string", "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg" },
                  "parent_id": { "type": "string", "example": "" },
                  "products[0]": { "type": "string", "example": "P001" }
                },
                "required": ["name", "slug"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Custom collection with products created successfully" }
        }
      }
    },
    "/api/v1/custom-collection/{id}": {
      "delete": {
        "summary": "Delete custom collection",
        "description": "Delete a custom collection by ID.",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "Custom collection deleted successfully" }
        }
      }
    }
  }
}
