{
  "openapi": "3.0.3",
  "info": {
    "title": "Aiminis POS API (Full Version)",
    "version": "1.0.0",
    "description": "Full OpenAPI specification for Aiminis POS system, converted from Postman Collection.\nIncludes Auth, Users, Products, Flash Sales, Loyalty, Promotions, Booking, Affiliate, Games, Insurance, and more."
  },
  "servers": [
    {
      "url": "https://upload.aimini.vn",
      "description": "Production API server (Aiminis POS)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Admin POS",
          "Auth"
        ],
        "summary": "Login Pos",
        "description": "Login Pos",
        "operationId": "loginPos",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "aimini_company40162@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "aimini_company40162@gmail.com"
                  }
                }
              },
              "examples": {
                "Login Pos": {
                  "value": {
                    "email": "aimini_company40162@gmail.com",
                    "password": "aimini_company40162@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/custom-collection": {
      "get": {
        "tags": [
          "Admin POS",
          "Products",
          "Categories1"
        ],
        "summary": "[GET] Custom collection",
        "description": "[GET] Custom collection",
        "operationId": "getCustomCollection",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,xid,name,parent_id,x_parent_id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin POS",
          "Products",
          "Categories1"
        ],
        "summary": "[POST] Custom collection",
        "description": "[POST] Custom collection",
        "operationId": "postCustomCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "banner": {
                    "nullable": true,
                    "example": null
                  },
                  "banner_image": {
                    "type": "string",
                    "example": ""
                  },
                  "banner_image_url": {
                    "type": "string",
                    "example": ""
                  },
                  "banner_url": {
                    "nullable": true,
                    "example": null
                  },
                  "image": {
                    "nullable": true,
                    "example": null
                  },
                  "image_url": {
                    "nullable": true,
                    "example": null
                  },
                  "is_display": {
                    "type": "boolean",
                    "example": true
                  },
                  "name": {
                    "type": "string",
                    "example": "IPad"
                  },
                  "parent_id": {
                    "nullable": true,
                    "example": null
                  },
                  "product": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "slug": {
                    "type": "string",
                    "example": "ipad"
                  }
                }
              },
              "examples": {
                "[POST] Categories collection": {
                  "value": {
                    "banner": null,
                    "banner_image": "",
                    "banner_image_url": "",
                    "banner_url": null,
                    "image": null,
                    "image_url": null,
                    "is_display": true,
                    "name": "IPad",
                    "parent_id": null,
                    "product": [],
                    "slug": "ipad"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "banner_image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  },
                  "image": {
                    "type": "string",
                    "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
                  },
                  "name": {
                    "type": "string",
                    "example": "Danh mục 2"
                  },
                  "parent_id": {
                    "type": "string",
                    "example": ""
                  },
                  "products[0]": {
                    "type": "string",
                    "example": ""
                  },
                  "slug": {
                    "type": "string",
                    "example": "danh-muc-2"
                  }
                }
              },
              "examples": {
                "[POST] Custom collection": {
                  "value": {
                    "banner_image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                    "image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                    "name": "Danh mục 2",
                    "slug": "danh-muc-2"
                  }
                },
                "[POST] Custom collection with parent": {
                  "value": {
                    "banner_image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                    "image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                    "name": "Danh mục 3",
                    "parent_id": "7bv3gPWj",
                    "slug": "danh-muc-3"
                  }
                },
                "[POST] Custom collection with products": {
                  "value": {
                    "banner_image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                    "image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                    "name": "Danh mục 2",
                    "parent_id": "",
                    "products[0]": "",
                    "slug": "danh-muc-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/custom-collection/{id}": {
  "put": {
    "tags": ["Admin POS", "Custom Collection"],
    "summary": "[PUT] Custom collection",
    "description": "[PUT] Custom collection",
    "operationId": "putCustomCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của Custom Collection cần cập nhật"
      }
    ],
    "requestBody": {
      "content": {
        "application/x-www-form-urlencoded": {
          "schema": {
            "type": "object",
            "properties": {
              "banner_image": {
                "type": "string",
                "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
              },
              "image": {
                "type": "string",
                "example": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg"
              },
              "name": {
                "type": "string",
                "example": "Danh mục 2"
              },
              "parent_id": {
                "type": "string",
                "example": "7bv3gPWj"
              },
              "slug": {
                "type": "string",
                "example": "name"
              }
            }
          },
          "examples": {
            "[PUT] Custom collection": {
              "value": {
                "banner_image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                "image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                "name": "Danh mục 2",
                "slug": "name"
              }
            },
            "[PUT] Custom collection with parent": {
              "value": {
                "banner_image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                "image": "440cef314f679adba15d7047c47c3661_269a5b4479.jpg",
                "name": "Danh mục 2",
                "parent_id": "7bv3gPWj",
                "slug": "name"
              }
            }
          }
        }
      }
    },
    "responses": {
      "200": { "description": "Custom collection updated successfully" }
    },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/": {
      "get": {
        "tags": [
          "Admin POS",
          "Category News"
        ],
        "summary": "[DELETE] Custom collection",
        "description": "[DELETE] Custom collection",
        "operationId": "deleteCustomCollection",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/news-category": {
      "get": {
        "tags": [
          "Admin POS",
          "News",
          "Categories New"
        ],
        "summary": "[GET] New collection",
        "description": "[GET] New collection",
        "operationId": "getNewCollection",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,xid,name,parent_id,x_parent_id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10000"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Tin tức 24"
                  },
                  "parent_id": {
                    "nullable": true,
                    "example": null
                  },
                  "slug": {
                    "type": "string",
                    "example": "tin-tuc-24"
                  }
                }
              },
              "examples": {
                "[GET] New collection": {
                  "value": {
                    "name": "Tin tức 24",
                    "parent_id": null,
                    "slug": "tin-tuc-24"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin POS",
          "News",
          "Categories New"
        ],
        "summary": "[POST] News Category",
        "description": "[POST] News Category",
        "operationId": "postNewsCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Tin tức 24"
                  },
                  "parent_id": {
                    "nullable": true,
                    "example": null
                  },
                  "slug": {
                    "type": "string",
                    "example": "tin-tuc-24"
                  }
                }
              },
              "examples": {
                "[POST] New collection": {
                  "value": {
                    "name": "Tin tức 24",
                    "parent_id": null,
                    "slug": "tin-tuc-24"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "example": "67ce6d6e96e941741581678_559fafc155.webp"
                  },
                  "name": {
                    "type": "string",
                    "example": "Bóng đá"
                  },
                  "slug": {
                    "type": "string",
                    "example": "bong-da"
                  }
                }
              },
              "examples": {
                "[POST] News Category": {
                  "value": {
                    "image": "67ce6d6e96e941741581678_559fafc155.webp",
                    "name": "Bóng đá",
                    "slug": "bong-da"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/customers": {
      "get": {
        "tags": [
          "Admin POS",
          "User Management",
          "Customer"
        ],
        "summary": "[GET] User collection",
        "description": "[GET] User collection",
        "operationId": "getUserCollection",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,xid,user_status_id,zalo_id,rank_point,user_type,name,email,note,profile_image,profile_image_url,is_walkin_customer,phone,shipping_address,status,tax_number,created_at,details{opening_balance,opening_balance_type,credit_period,credit_limit,total_amount,due_amount,warehouse_id,x_warehouse_id},details:warehouse{id,xid,name},role_id,role{id,xid,name,display_name},warehouse_id,x_warehouse_id,warehouse{xid,name},userWarehouses{user_id,x_user_id,warehouse_id,x_warehouse_id},address{city,state},userMembers,pointsHistory{xid,x_user_id,user_id,consumption_points,customer_point}"
            }
          },
          {
            "name": "has_infor",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id%20desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin POS",
          "User Management",
          "Customer"
        ],
        "summary": "[POST] Customer collection",
        "description": "[POST] Customer collection",
        "operationId": "postCustomerCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "city_id": {
                    "type": "string",
                    "example": "7ZWDdvWp"
                  },
                  "credit_limit": {
                    "type": "string",
                    "example": ""
                  },
                  "credit_period": {
                    "type": "string",
                    "example": "30"
                  },
                  "email": {
                    "type": "string",
                    "example": "testpostman1@gmail.com"
                  },
                  "name": {
                    "type": "string",
                    "example": "test postman"
                  },
                  "note": {
                    "type": "string",
                    "example": ""
                  },
                  "opening_balance": {
                    "type": "string",
                    "example": ""
                  },
                  "opening_balance_type": {
                    "type": "string",
                    "example": "receive"
                  },
                  "partner_user_id": {
                    "type": "string",
                    "example": "Test 123"
                  },
                  "password": {
                    "type": "string",
                    "example": "12345678910"
                  },
                  "phone": {
                    "type": "string",
                    "example": "841218733754"
                  },
                  "profile_image": {
                    "nullable": true,
                    "example": null
                  },
                  "profile_image_url": {
                    "nullable": true,
                    "example": null
                  },
                  "shipping_address": {
                    "type": "string",
                    "example": "1/86 "
                  },
                  "state_id": {
                    "type": "string",
                    "example": "xaWoJ7bg"
                  },
                  "status": {
                    "type": "string",
                    "example": "enabled"
                  },
                  "stt": {
                    "nullable": true,
                    "example": null
                  },
                  "tax_number": {
                    "nullable": true,
                    "example": null
                  },
                  "user_status_id": {
                    "nullable": true,
                    "example": null
                  },
                  "user_type": {
                    "type": "string",
                    "example": "customers"
                  },
                  "warehouse_id": {
                    "type": "string",
                    "example": "KbKe32rL"
                  },
                  "warehouses": {
                    "type": "array",
                    "items": {},
                    "example": []
                  }
                }
              },
              "examples": {
                "[POST] Customer collection": {
                  "value": {
                    "city_id": "7ZWDdvWp",
                    "credit_limit": "",
                    "credit_period": "30",
                    "email": "testpostman1@gmail.com",
                    "name": "test postman",
                    "note": "",
                    "opening_balance": "",
                    "opening_balance_type": "receive",
                    "partner_user_id": "Test 123",
                    "password": "12345678910",
                    "phone": "841218733754",
                    "profile_image": null,
                    "profile_image_url": null,
                    "shipping_address": "1/86 ",
                    "state_id": "xaWoJ7bg",
                    "status": "enabled",
                    "stt": null,
                    "tax_number": null,
                    "user_status_id": null,
                    "user_type": "customers",
                    "warehouse_id": "KbKe32rL",
                    "warehouses": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/redeem-voucher": {
      "get": {
        "tags": [
          "Admin POS",
          "Loyalty",
          "List Gifts"
        ],
        "summary": "[GET] Redeem Voucher collection",
        "description": "[GET] Redeem Voucher collection",
        "operationId": "getRedeemVoucherCollection",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,xid,name,start_date,end_date,is_active,status,created_at,updated_at,promotionBatches.limit(10000){id,xid,name},promotionBatches:points{points_needed_to_redeem}"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id%20desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Admin POS",
          "Loyalty",
          "List Gifts"
        ],
        "summary": "[POST] Redeem Voucher collection",
        "description": "[POST] Redeem Voucher collection",
        "operationId": "postRedeemVoucherCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "end_date": {
                    "type": "string",
                    "example": "2025-09-06T18:50:47.000Z"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "name": {
                    "type": "string",
                    "example": "Thêm chương trình đổi quà lần nccccc"
                  },
                  "start_date": {
                    "type": "string",
                    "example": "2025-09-03T18:50:44.000Z"
                  },
                  "vouchers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "points": {
                          "type": "object",
                          "properties": {
                            "points_needed_to_redeem": {
                              "type": "number",
                              "example": 50
                            }
                          }
                        },
                        "promotion_batch_id": {
                          "type": "string",
                          "example": "EjWEpbQJ"
                        },
                        "xid": {
                          "type": "string",
                          "example": ""
                        }
                      }
                    },
                    "example": [
                      {
                        "points": {
                          "points_needed_to_redeem": 50
                        },
                        "promotion_batch_id": "EjWEpbQJ",
                        "xid": ""
                      }
                    ]
                  }
                }
              },
              "examples": {
                "[POST] Redeem Voucher collection": {
                  "value": {
                    "end_date": "2025-09-06T18:50:47.000Z",
                    "is_active": true,
                    "name": "Thêm chương trình đổi quà lần nccccc",
                    "start_date": "2025-09-03T18:50:44.000Z",
                    "vouchers": [
                      {
                        "points": {
                          "points_needed_to_redeem": 50
                        },
                        "promotion_batch_id": "EjWEpbQJ",
                        "xid": ""
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/batches-promotion": {
      "get": {
        "tags": [
          "Admin POS",
          "Promotion Batches",
          "Discount List"
        ],
        "summary": "[GET] Promotion Batches collection",
        "description": "[GET] Promotion Batches collection",
        "operationId": "getPromotionBatchesCollection",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "xid,name,promotion_type,promotion_available_quantity,description,image,image_url,total_code,voucher_code,value_type,minimum_order,max_amount,voucher_value,quantity_available,created_at"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "classification%20eq%20%22promotion_products%22%20and%20promotion_type%20lk%20%22%25discount%25%22"
            }
          },
          {
            "name": "promotion_type",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "discount"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id%20desc"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "bathches_promotion": {
                    "type": "string",
                    "example": "random"
                  },
                  "classification": {
                    "type": "string",
                    "example": "promotion_products"
                  },
                  "description": {
                    "type": "string",
                    "example": "khuyễn mãi  hấp dẫn\n"
                  },
                  "end_date": {
                    "type": "string",
                    "example": "2025-09-06 18:19:52\n"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "minimum_order": {
                    "type": "string",
                    "example": "300000"
                  },
                  "name": {
                    "type": "string",
                    "example": "test Voucher 99"
                  },
                  "prefix": {
                    "type": "string",
                    "example": "AIMINI"
                  },
                  "promotion_type": {
                    "type": "string",
                    "example": "redeemable"
                  },
                  "quantity_code": {
                    "type": "string",
                    "example": "10"
                  },
                  "random_number": {
                    "type": "string",
                    "example": "6"
                  },
                  "selectProduct": {
                    "type": "string",
                    "example": "allProduct"
                  },
                  "start_date": {
                    "type": "string",
                    "example": "2025-09-03 18:19:48\n"
                  },
                  "suffix": {
                    "type": "string",
                    "example": "Sale89"
                  },
                  "value_type\n": {
                    "type": "string",
                    "example": "0"
                  },
                  "voucher_code\n": {
                    "type": "string",
                    "example": "testVoucher99\n"
                  },
                  "voucher_value": {
                    "type": "string",
                    "example": "100000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin POS",
          "Promotion Batches",
          "Discount List"
        ],
        "summary": "[POST] Voucher collection",
        "description": "[POST] Voucher collection",
        "operationId": "postVoucherCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allProduct": {
                    "type": "boolean",
                    "example": true
                  },
                  "bathches_promotion": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "classification": {
                    "nullable": true,
                    "example": null
                  },
                  "description": {
                    "type": "string",
                    "example": "<p>Giảm mạnh</p>"
                  },
                  "end_date": {
                    "type": "string",
                    "example": "2025-09-26T23:28:43.000Z"
                  },
                  "gift_value": {
                    "nullable": true,
                    "example": null
                  },
                  "image": {
                    "nullable": true,
                    "example": null
                  },
                  "list_code": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "list_product": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "max_amount": {
                    "nullable": true,
                    "example": null
                  },
                  "minimum_order": {
                    "type": "number",
                    "example": 15000000
                  },
                  "name": {
                    "type": "string",
                    "example": "Giảm giá sản phẩm"
                  },
                  "prefix": {
                    "type": "string",
                    "example": "AIMINI"
                  },
                  "promotion_products": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "promotion_type": {
                    "type": "string",
                    "example": "Discount"
                  },
                  "quantity_code": {
                    "type": "number",
                    "example": 5
                  },
                  "random": {
                    "type": "boolean",
                    "example": true
                  },
                  "random_number": {
                    "type": "number",
                    "example": 6
                  },
                  "selectProduct": {
                    "type": "string",
                    "example": "allProduct"
                  },
                  "start_date": {
                    "type": "string",
                    "example": "2025-09-08T23:28:40.000Z"
                  },
                  "suffix": {
                    "type": "string",
                    "example": "SALE"
                  },
                  "total_quantity": {
                    "nullable": true,
                    "example": null
                  },
                  "value_type": {
                    "type": "number",
                    "example": 0
                  },
                  "voucher_code": {
                    "type": "string",
                    "example": "DISCOUNT12"
                  },
                  "voucher_value": {
                    "type": "number",
                    "example": 3000000
                  }
                }
              },
              "examples": {
                "[POST] Promotion Batches collection": {
                  "value": {
                    "allProduct": true,
                    "bathches_promotion": [],
                    "classification": null,
                    "description": "<p>Giảm mạnh</p>",
                    "end_date": "2025-09-26T23:28:43.000Z",
                    "gift_value": null,
                    "image": null,
                    "list_code": [],
                    "list_product": [],
                    "max_amount": null,
                    "minimum_order": 15000000,
                    "name": "Giảm giá sản phẩm",
                    "prefix": "AIMINI",
                    "promotion_products": [],
                    "promotion_type": "Discount",
                    "quantity_code": 5,
                    "random": true,
                    "random_number": 6,
                    "selectProduct": "allProduct",
                    "start_date": "2025-09-08T23:28:40.000Z",
                    "suffix": "SALE",
                    "total_quantity": null,
                    "value_type": 0,
                    "voucher_code": "DISCOUNT12",
                    "voucher_value": 3000000
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "bathches_promotion": {
                    "type": "string",
                    "example": "random"
                  },
                  "classification": {
                    "type": "string",
                    "example": "promotion_products"
                  },
                  "description": {
                    "type": "string",
                    "example": "khuyễn mãi  hấp dẫn\n"
                  },
                  "end_date": {
                    "type": "string",
                    "example": "2025-09-06 18:19:52\n"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "minimum_order": {
                    "type": "string",
                    "example": "300000"
                  },
                  "name": {
                    "type": "string",
                    "example": "test Voucher 99"
                  },
                  "prefix": {
                    "type": "string",
                    "example": "AIMINI"
                  },
                  "promotion_type": {
                    "type": "string",
                    "example": "redeemable"
                  },
                  "quantity_code": {
                    "type": "string",
                    "example": "10"
                  },
                  "random_number": {
                    "type": "string",
                    "example": "6"
                  },
                  "selectProduct": {
                    "type": "string",
                    "example": "allProduct"
                  },
                  "start_date": {
                    "type": "string",
                    "example": "2025-09-03 18:19:48\n"
                  },
                  "suffix": {
                    "type": "string",
                    "example": "Sale89"
                  },
                  "value_type\n": {
                    "type": "string",
                    "example": "0"
                  },
                  "voucher_code\n": {
                    "type": "string",
                    "example": "testVoucher99\n"
                  },
                  "voucher_value": {
                    "type": "string",
                    "example": "100000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/redeem-voucher/{id}": {
  "put": {
    "tags": ["Admin POS", "Loyalty", "List Gifts"],
    "summary": "[PUT] Redeem Voucher collection",
    "description": "[PUT] Redeem Voucher collection",
    "operationId": "putRedeemVoucherCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của Redeem Voucher cần cập nhật"
      }
    ],
    "requestBody": {
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "end_date": { "type": "string", "example": "2025-09-07T19:50:16.000Z" },
              "is_active": { "type": "number", "example": 1 },
              "name": { "type": "string", "example": "Thêm chương trình đổi quà lần chỉnh sửa" },
              "start_date": { "type": "string", "example": "2025-09-03T18:50:44.000Z" },
              "vouchers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "promotion_batch_id": { "type": "string", "example": "B7WlNqjQ" },
                    "xid": { "type": "string", "example": "EjWEpbQJ" },
                    "points": {
                      "type": "object",
                      "properties": {
                        "points_needed_to_redeem": { "type": "number", "example": 60 }
                      }
                    }
                  }
                }
              }
            }
          },
          "examples": {
            "[PUT] Redeem Voucher collection": {
              "value": {
                "end_date": "2025-09-07T19:50:16.000Z",
                "is_active": 1,
                "name": "Thêm chương trình đổi quà lần chỉnh sửa",
                "start_date": "2025-09-03T18:50:44.000Z",
                "vouchers": [
                  {
                    "promotion_batch_id": "B7WlNqjQ",
                    "xid": "EjWEpbQJ",
                    "points": { "points_needed_to_redeem": 60 }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "responses": { "200": { "description": "Redeem Voucher updated successfully" } },
    "security": [{ "bearerAuth": [] }]
  },
  "delete": {
    "tags": ["Admin POS", "Loyalty", "List Gifts"],
    "summary": "[DELETE] Redeem Voucher collection",
    "description": "[DELETE] Redeem Voucher collection",
    "operationId": "deleteRedeemVoucherCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của Redeem Voucher cần xóa"
      }
    ],
    "responses": { "200": { "description": "Redeem Voucher deleted successfully" } },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/api/v1/response-user-member": {
      "get": {
        "tags": [
          "Admin POS",
          "Loyalty",
          "Manage Point"
        ],
        "summary": "[GET] Rank",
        "description": "[GET] Rank",
        "operationId": "getRank",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,xid,name,min_spent_amount,discount,vouchers{promotion_id,x_promotion_id},converted_amount,maximum_discount_order,amount_to_point,created_at,image,image_url,img_sapo,company_id,type_time_receive,time_receive_point"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "company_id%20eq%201937"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id%20desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin POS",
          "Loyalty",
          "Manage Membership"
        ],
        "summary": "[POST] Rank collection",
        "description": "[POST] Rank collection",
        "operationId": "postRankCollection",
        "requestBody": {
          "content": {
            "text/plain": {
              "examples": {
                "[POST] Rank collection": {
                  "value": "{\r\n  \"amount_to_point\": 10000,             // 10,000đ chi tiêu = 1 điểm\r\n  \"converted_amount\": 1,                // Quy đổi: 10,000đ = 1 điểm (em chỉnh lại cho chuẩn, vì 3000 là không hợp lý)\r\n  \"current\": 1,                         // Đặt làm hạng hiện tại (nếu backend hỗ trợ)\r\n\r\n  \"rankDetails\": [\r\n    {\r\n      \"rank\": \"Kim cương\",              // Tên hạng thành viên\r\n      \"discount\": 15,                   // Giảm giá % cho hạng Kim cương (em đề xuất 15% để cao hơn Silver/Gold)\r\n      \"min_spent_amount\": 20000000,     // Tổng chi tiêu tối thiểu để đạt hạng (20 triệu)\r\n      \"maximum_discount_order\": 5000000,// Giới hạn giảm tối đa cho 1 đơn hàng (5 triệu)\r\n      \"minium_point\": 2000,             // Điểm tối thiểu để lên hạng (2000 điểm)\r\n      \"maintenance_point\": 1000,        // Điểm duy trì hạng (1000 điểm/năm hoặc kỳ)\r\n      \"image\": \"kimcuong.png\",          // Ảnh đại diện cho hạng Kim cương\r\n      \"checked\": true,                  // true = có bật giới hạn \"maximum_discount_order\"\r\n      \"vouchers\": [                     // Voucher gắn với hạng Kim cương\r\n        \"JWzoJYrN\"                      // Hash ID voucher 1\r\n      ]\r\n    }\r\n  ]\r\n}\r\n"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/response-user-member/{id}": {
  "put": {
    "tags": ["Admin POS", "Loyalty", "Manage Membership"],
    "summary": "[PUT] Rank collection",
    "description": "[PUT] Rank collection",
    "operationId": "putRankCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của rank cần cập nhật"
      }
    ],
    "requestBody": {
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "amount_to_point": {
                "type": "number",
                "example": 10000
              },
              "converted_amount": {
                "type": "number",
                "example": 1
              },
              "current": {
                "type": "number",
                "example": 1
              },
              "rankDetails": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "rank": { "type": "string", "example": "Kim cương" },
                    "min_spent_amount": { "type": "number", "example": 25000000 },
                    "discount": { "type": "number", "example": 5 },
                    "maximum_discount_order": { "type": "number", "example": 2000000 },
                    "image": { "type": "string", "example": "kimcuong.png" },
                    "image_url": {
                      "type": "string",
                      "example": "https://aimini-upload.sgp1.cdn.digitaloceanspaces.com/ranks/kim_cuong_41bcb90fb8.jpg"
                    },
                    "checked": { "type": "boolean", "example": true },
                    "vouchers": {
                      "type": "array",
                      "items": { "type": "string" },
                      "example": ["JWzoJYrN"]
                    }
                  }
                }
              }
            }
          },
          "examples": {
            "[PUT] Rank collection": {
              "value": {
                "amount_to_point": 10000,
                "converted_amount": 1,
                "current": 1,
                "rankDetails": [
                  {
                    "rank": "Kim cương",
                    "min_spent_amount": 25000000,
                    "discount": 5,
                    "maximum_discount_order": 2000000,
                    "image": "kimcuong.png",
                    "image_url": "https://aimini-upload.sgp1.cdn.digitaloceanspaces.com/ranks/kim_cuong_41bcb90fb8.jpg",
                    "checked": true,
                    "vouchers": ["JWzoJYrN"]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "responses": {
      "200": { "description": "Rank collection updated successfully" }
    },
    "security": [{ "bearerAuth": [] }]
  },
  "delete": {
    "tags": ["Admin POS", "Loyalty", "Manage Membership"],
    "summary": "[DELETE] Rank collection",
    "description": "[DELETE] Rank collection",
    "operationId": "deleteRankCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của rank cần xóa"
      }
    ],
    "responses": {
      "200": { "description": "Rank collection deleted successfully" }
    },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/api/v1/missions": {
      "get": {
        "tags": [
          "Admin POS",
          "Games",
          "Missions"
        ],
        "summary": "[GET] Missions collection",
        "description": "[GET] Missions collection",
        "operationId": "getMissionsCollection",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "xid,title,image,image_url,limit_plays,required_shares,type_mission,status,award,type_award,missionUserLog{xid,x_mission_id,mission_id,extra_point,extra_turn,x_user_id,user_id,status},missionUserLog:user{xid,name,phone},missionUserLog:order{invoice_number,xid},missionUserLog:receiver{xid,name,phone}"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id%20desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "aimini_company40162@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "aimini_company40162@gmail.com"
                  }
                }
              },
              "examples": {
                "[GET] Missions collection": {
                  "value": {
                    "email": "aimini_company40162@gmail.com",
                    "password": "aimini_company40162@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/store-multiple-mission": {
      "post": {
        "tags": [
          "Admin POS",
          "Games",
          "Missions"
        ],
        "summary": "[POST] Missions collection",
        "description": "[POST] Missions collection",
        "operationId": "postMissionsCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "missions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "award": {
                          "type": "number",
                          "example": 200000
                        },
                        "limit_plays": {
                          "type": "number",
                          "example": 5
                        },
                        "required_shares": {
                          "type": "number",
                          "example": 0
                        },
                        "status": {
                          "type": "string",
                          "example": "active"
                        },
                        "title": {
                          "type": "string",
                          "example": "nhiệm vụ hằng ngày"
                        },
                        "type_award": {
                          "type": "string",
                          "example": "extra_point"
                        },
                        "type_mission": {
                          "type": "string",
                          "example": "complete_order"
                        }
                      }
                    },
                    "example": [
                      {
                        "award": 200000,
                        "limit_plays": 5,
                        "required_shares": 0,
                        "status": "active",
                        "title": "nhiệm vụ hằng ngày",
                        "type_award": "extra_point",
                        "type_mission": "complete_order"
                      }
                    ]
                  }
                }
              },
              "examples": {
                "[POST] Missions collection": {
                  "value": {
                    "missions": [
                      {
                        "award": 200000,
                        "limit_plays": 5,
                        "required_shares": 0,
                        "status": "active",
                        "title": "nhiệm vụ hằng ngày",
                        "type_award": "extra_point",
                        "type_mission": "complete_order"
                      }
                    ]
                  }
                }
              }
            },
            "text/plain": {
              "examples": {
                "[POST] Missions collection": {
                  "value": "{\r\n  \"missions\": [\r\n    {\r\n      \"title\": \"Đánh giá sản phẩm tốt\",           // Tên nhiệm vụ\r\n      \"limit_plays\": 10,                         // Người dùng chỉ được làm tối đa 10 lần\r\n      \"award\": 100000,                           // Phần thưởng nhận được (ở đây là 100,000 điểm / giá trị quy đổi)\r\n      \"required_shares\": 0,                      // (FE thêm) số lần chia sẻ cần thiết để hoàn thành (nếu có)\r\n      \"type_mission\": \"rating_product\",          // Loại nhiệm vụ (ở đây: đánh giá sản phẩm)\r\n      \"type_award\": \"extra_point\",               // Loại phần thưởng (tặng điểm)\r\n      \"status\": \"active\",                        // Trạng thái nhiệm vụ\r\n      \"image\": \"mission-rating.png\",             // Ảnh minh họa (tùy chọn)\r\n      \"start_date\": \"2025-09-05 00:00:00\",       // Ngày bắt đầu\r\n      \"end_date\": \"2025-09-30 23:59:59\"          // Ngày kết thúc\r\n    }\r\n  ]\r\n}\r\n"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/edit-all-user-members-aimini": {
      "post": {
        "tags": [
          "Admin POS",
          "Loyalty",
          "Manage Point"
        ],
        "summary": "[POST] Point collection",
        "description": "[POST] Point collection",
        "operationId": "postPointCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount_to_point": {
                    "type": "number",
                    "example": 10000
                  },
                  "converted_amount": {
                    "type": "number",
                    "example": 1000
                  }
                }
              },
              "examples": {
                "[POST] Point collection": {
                  "value": {
                    "amount_to_point": 10000,
                    "converted_amount": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/missions/{id}": {
  "delete": {
    "tags": ["Admin POS", "Loyalty", "Manage Point"],
    "summary": "[DELETE] Point collection",
    "description": "[DELETE] Point collection",
    "operationId": "deletePointCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của nhiệm vụ hoặc điểm cần xóa"
      }
    ],
    "responses": {
      "200": {
        "description": "Point collection deleted successfully"
      }
    },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/api/v1/booking-items": {
      "get": {
        "tags": [
          "Admin POS",
          "Booking",
          "Appointment"
        ],
        "summary": "[GET] Booking item collection",
        "description": "[GET] Booking item collection",
        "operationId": "getBookingItemCollection",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,invoice_number,xid,name,phone,address_id,unit_price,note,total_discount,subtotal,user_address,total_quantity,quantity_used,booking_time,quantity,status,booking_id,x_booking_id,booking{id,xid,invoice_number,unique_id},booking:user{id,xid,name,phone},service_id,x_service_id,service{id,xid,title,image,image_url},instructor_id,x_instructor_id,instructor{id,xid,name}"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "is_default%20eq%20%220%22"
            }
          },
          {
            "name": "columnFilter",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "invoice_number"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "all"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id%20desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/bookings": {
      "get": {
        "tags": [
          "Admin POS",
          "Booking",
          "Bill"
        ],
        "summary": "[GET] Booking collection",
        "description": "[GET] Booking collection",
        "operationId": "getBookingCollection",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id%20desc"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,xid,invoice_number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1000\n"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/online-bookings/bookingTime": {
      "post": {
        "tags": [
          "Admin POS",
          "Booking",
          "Appointment"
        ],
        "summary": "[POST] Booking collection",
        "description": "[POST] Booking collection",
        "operationId": "postBookingCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "booking_id": {
                    "type": "string",
                    "example": "aJrggnrl"
                  },
                  "booking_time": {
                    "type": "string",
                    "example": "2025-09-05T00:00:00.000Z"
                  },
                  "doctor_id": {
                    "type": "string",
                    "example": "7bvglx1W"
                  },
                  "name": {
                    "type": "string",
                    "example": "Dũng nguyễn"
                  },
                  "phone": {
                    "type": "string",
                    "example": "0392967795"
                  },
                  "quantity_customer": {
                    "type": "number",
                    "example": 1
                  },
                  "service_id": {
                    "type": "string",
                    "example": "GLWykBqo"
                  },
                  "time": {
                    "type": "object",
                    "properties": {
                      "quantity": {
                        "type": "number",
                        "example": 1
                      },
                      "time_end": {
                        "type": "string",
                        "example": 960
                      },
                      "time_start": {
                        "type": "string",
                        "example": 900
                      }
                    }
                  },
                  "user_address": {
                    "type": "string",
                    "example": "256 Huỳnh tấn phát"
                  },
                  "user_id": {
                    "type": "string",
                    "example": "eqOw0gVq"
                  }
                }
              },
              "examples": {
                "[POST] Booking collection": {
                  "value": {
                    "booking_id": "aJrggnrl",
                    "booking_time": "2025-09-05T00:00:00.000Z",
                    "doctor_id": "7bvglx1W",
                    "name": "Dũng nguyễn",
                    "phone": "0392967795",
                    "quantity_customer": 1,
                    "service_id": "GLWykBqo",
                    "time": {
                      "quantity": 1,
                      "time_end": 960,
                      "time_start": 900
                    },
                    "user_address": "256 Huỳnh tấn phát",
                    "user_id": "eqOw0gVq"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/online-booking-time/confirm/{id}": {
  "post": {
    "tags": ["Admin POS", "Booking", "Appointment"],
    "summary": "[POST] Booking confirm collection",
    "description": "[POST] Booking confirm collection",
    "operationId": "postBookingConfirmCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của booking cần xác nhận"
      }
    ],
    "responses": {
      "200": { "description": "Booking confirmed successfully" }
    },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/api/v1/online-booking-time/cancel/{id}": {
  "post": {
    "tags": ["Admin POS", "Booking", "Appointment"],
    "summary": "[POST] Booking cancel collection",
    "description": "[POST] Booking cancel collection",
    "operationId": "postBookingCancelCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của booking cần hủy"
      }
    ],
    "responses": {
      "200": { "description": "Booking cancelled successfully" }
    },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/api/v1/online-booking-time/refund/{id}": {
  "post": {
    "tags": ["Admin POS", "Booking", "Appointment"],
    "summary": "[POST] Booking refund collection",
    "description": "[POST] Booking refund collection",
    "operationId": "postBookingRefundCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của booking cần hoàn tiền"
      }
    ],
    "responses": {
      "200": { "description": "Booking refunded successfully" }
    },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/api/v1/bookings-setting": {
      "get": {
        "tags": [
          "Admin POS",
          "Booking",
          "Set Calendar"
        ],
        "summary": "[GET] Bookings Setting collection",
        "description": "[GET] Bookings Setting collection",
        "operationId": "getBookingsSettingCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "number",
                    "example": 3474
                  },
                  "id": {
                    "type": "number",
                    "example": 15
                  },
                  "name": {
                    "type": "string",
                    "example": "booking"
                  },
                  "name_key": {
                    "type": "string",
                    "example": "booking"
                  },
                  "other_data": {
                    "type": "object",
                    "properties": {
                      "limit_customer_number": {
                        "type": "string",
                        "example": "1"
                      },
                      "min_deposit": {
                        "type": "string",
                        "example": "1"
                      },
                      "time_cancel": {
                        "type": "string",
                        "example": "2"
                      }
                    }
                  },
                  "setting_type": {
                    "type": "string",
                    "example": "booking"
                  },
                  "status": {
                    "type": "number",
                    "example": 0
                  },
                  "verified": {
                    "type": "number",
                    "example": 0
                  }
                }
              },
              "examples": {
                "[GET] Bookings Setting collection": {
                  "value": {
                    "company_id": 3474,
                    "id": 15,
                    "name": "booking",
                    "name_key": "booking",
                    "other_data": {
                      "limit_customer_number": "1",
                      "min_deposit": "1",
                      "time_cancel": "2"
                    },
                    "setting_type": "booking",
                    "status": 0,
                    "verified": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/calendar": {
      "get": {
        "tags": [
          "Admin POS",
          "Booking",
          "Set Calendar"
        ],
        "summary": "[GET] Calendar collection",
        "description": "[GET] Calendar collection",
        "operationId": "getCalendarCollection",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "is_special_day,date"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "is_active%20eq%20%220%20%22"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1000"
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "examples": {
                "[GET] Calendar collection": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin POS",
          "Booking",
          "Set Calendar"
        ],
        "summary": "[POST] Calendar Collection",
        "description": "[POST] Calendar Collection",
        "operationId": "postCalendarCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "example": "2025-09-05T00:00:00.000Z"
                  },
                  "is_active": {
                    "type": "number",
                    "example": 1
                  },
                  "time": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number",
                            "example": 10
                          },
                          "time_end": {
                            "type": "string",
                            "example": 630
                          },
                          "time_start": {
                            "type": "string",
                            "example": "09:00"
                          }
                        }
                      },
                      "example": [
                        {
                          "quantity": 10,
                          "time_end": 630,
                          "time_start": "09:00"
                        },
                        {
                          "quantity": 1,
                          "time_end": 719,
                          "time_start": 660
                        },
                        {
                          "quantity": 1,
                          "time_end": 720,
                          "time_start": 719
                        },
                        {
                          "quantity": 1,
                          "time_end": 780,
                          "time_start": 720
                        },
                        {
                          "quantity": 1,
                          "time_end": 840,
                          "time_start": 780
                        },
                        {
                          "quantity": 1,
                          "time_end": 900,
                          "time_start": 840
                        },
                        {
                          "quantity": 1,
                          "time_end": 960,
                          "time_start": 900
                        },
                        {
                          "quantity": 1,
                          "time_end": 1020,
                          "time_start": 960
                        },
                        {
                          "quantity": 1,
                          "time_end": 1080,
                          "time_start": 1020
                        },
                        {
                          "quantity": 1,
                          "time_end": 1140,
                          "time_start": 1080
                        },
                        {
                          "quantity": 1,
                          "time_end": 1439,
                          "time_start": 1260
                        }
                      ]
                    },
                    "example": [
                      [
                        {
                          "quantity": 10,
                          "time_end": 630,
                          "time_start": "09:00"
                        },
                        {
                          "quantity": 1,
                          "time_end": 719,
                          "time_start": 660
                        },
                        {
                          "quantity": 1,
                          "time_end": 720,
                          "time_start": 719
                        },
                        {
                          "quantity": 1,
                          "time_end": 780,
                          "time_start": 720
                        },
                        {
                          "quantity": 1,
                          "time_end": 840,
                          "time_start": 780
                        },
                        {
                          "quantity": 1,
                          "time_end": 900,
                          "time_start": 840
                        },
                        {
                          "quantity": 1,
                          "time_end": 960,
                          "time_start": 900
                        },
                        {
                          "quantity": 1,
                          "time_end": 1020,
                          "time_start": 960
                        },
                        {
                          "quantity": 1,
                          "time_end": 1080,
                          "time_start": 1020
                        },
                        {
                          "quantity": 1,
                          "time_end": 1140,
                          "time_start": 1080
                        },
                        {
                          "quantity": 1,
                          "time_end": 1439,
                          "time_start": 1260
                        }
                      ]
                    ]
                  }
                }
              },
              "examples": {
                "[POST] Calendar Collection": {
                  "value": {
                    "date": "2025-09-05T00:00:00.000Z",
                    "is_active": 1,
                    "time": [
                      [
                        {
                          "quantity": 10,
                          "time_end": 630,
                          "time_start": "09:00"
                        },
                        {
                          "quantity": 1,
                          "time_end": 719,
                          "time_start": 660
                        },
                        {
                          "quantity": 1,
                          "time_end": 720,
                          "time_start": 719
                        },
                        {
                          "quantity": 1,
                          "time_end": 780,
                          "time_start": 720
                        },
                        {
                          "quantity": 1,
                          "time_end": 840,
                          "time_start": 780
                        },
                        {
                          "quantity": 1,
                          "time_end": 900,
                          "time_start": 840
                        },
                        {
                          "quantity": 1,
                          "time_end": 960,
                          "time_start": 900
                        },
                        {
                          "quantity": 1,
                          "time_end": 1020,
                          "time_start": 960
                        },
                        {
                          "quantity": 1,
                          "time_end": 1080,
                          "time_start": 1020
                        },
                        {
                          "quantity": 1,
                          "time_end": 1140,
                          "time_start": 1080
                        },
                        {
                          "quantity": 1,
                          "time_end": 1439,
                          "time_start": 1260
                        }
                      ]
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/calendar/{id}": {
  "put": {
    "tags": ["Admin POS", "Booking", "Set Calendar"],
    "summary": "[PUT] Calendar collection",
    "description": "Cập nhật trạng thái hoạt động của một calendar.",
    "operationId": "putCalendarCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của calendar cần cập nhật"
      }
    ],
    "requestBody": {
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "is_active": {
                "type": "number",
                "example": 0
              }
            }
          },
          "examples": {
            "[PUT] calendar collection": {
              "value": { "is_active": 0 }
            }
          }
        }
      }
    },
    "responses": { "200": { "description": "Cập nhật thành công" } },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/api/v1/update-bookings-setting": {
      "post": {
        "tags": [
          "Admin POS",
          "Booking",
          "Set Calendar"
        ],
        "summary": "[POST] Booking Setting collection",
        "description": "[POST] Booking Setting collection",
        "operationId": "postBookingSettingCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "limit_customer_number": {
                        "type": "string",
                        "example": "1"
                      },
                      "min_deposit": {
                        "type": "string",
                        "example": "1"
                      },
                      "time_cancel": {
                        "type": "string",
                        "example": "2"
                      }
                    }
                  }
                }
              },
              "examples": {
                "[POST] Booking Setting collection": {
                  "value": {
                    "data": {
                      "limit_customer_number": "1",
                      "min_deposit": "1",
                      "time_cancel": "2"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/companies/{id}": {
  "put": {
    "tags": ["Admin POS", "Booking", "Set Calendar"],
    "summary": "[PUT] Company Collection",
    "description": "Cập nhật thông tin công ty và thiết lập cấu hình hệ thống.",
    "operationId": "putCompanyCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của công ty cần cập nhật."
      }
    ],
    "requestBody": {
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "name": { "type": "string", "example": "Aimini 40162" },
              "short_name": { "type": "string", "example": "Aimini Develop Test V1245" },
              "address": { "type": "string", "example": "13 Đường số 7A, Phường An Phú, Thủ Đức, TP.HCM" },
              "email": { "type": "string", "example": "aimini_company40162@gmail.com" },
              "phone": { "type": "string", "example": "086532133" },
              "timezone": { "type": "string", "example": "Asia/Ho_Chi_Minh" },
              "date_format": { "type": "string", "example": "DD-MM-YYYY" },
              "time_format": { "type": "string", "example": "hh:mm a" },
              "primary_color": { "type": "string", "example": "#1890ff" },
              "warehouse_id": { "type": "string", "example": "KbKe32rL" }
            }
          },
          "examples": {
            "[PUT] Company Collection": {
              "value": {
                "address": "13 Đường số 7A, Phường An Phú, Thủ Đức, TP.HCM",
                "app_debug": 0,
                "auto_detect_timezone": 1,
                "currency_id": "eJWGLOro",
                "date_format": "DD-MM-YYYY",
                "email": "aimini_company40162@gmail.com",
                "left_sidebar_theme": "dark",
                "name": "Aimini 40162",
                "phone": "086532133",
                "primary_color": "#1890ff",
                "short_name": "Aimini Develop Test V1245",
                "timezone": "Asia/Ho_Chi_Minh",
                "warehouse_id": "KbKe32rL"
              }
            }
          }
        }
      }
    },
    "responses": {
      "200": { "description": "Company settings updated successfully" }
    },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/api/v1/calendar/{id}": {
  "put": {
    "tags": ["Admin POS", "Booking", "Set Calendar"],
    "summary": "[PUT] Calendar Collection",
    "description": "Cập nhật khung giờ hoạt động cho lịch đặt hẹn.",
    "operationId": "putCalendarCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "ID của calendar cần cập nhật khung giờ."
      }
    ],
    "requestBody": {
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "is_active": { "type": "number", "example": 1 },
              "time": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "quantity": { "type": "number", "example": 10 },
                      "time_end": { "type": "string", "example": "630" },
                      "time_start": { "type": "string", "example": "09:00" }
                    }
                  }
                }
              }
            }
          },
          "examples": {
            "[PUT] Calendar Collection": {
              "value": {
                "is_active": 1,
                "time": [
                  [
                    { "quantity": 10, "time_end": 630, "time_start": "09:00" },
                    { "quantity": 1, "time_end": 780, "time_start": 720 },
                    { "quantity": 1, "time_end": 900, "time_start": 840 }
                  ]
                ]
              }
            }
          }
        }
      }
    },
    "responses": {
      "200": { "description": "Calendar updated successfully" }
    },
    "security": [{ "bearerAuth": [] }]
  }
},
    "/api/v1/service-categories": {
      "get": {
        "tags": [
          "Admin POS",
          "Services",
          "Categories"
        ],
        "summary": "[GET] Service collection",
        "description": "[GET] Service collection",
        "operationId": "getServiceCollection",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,xid,name,slug,parent_id,x_parent_id,image,image_url,banner_image,banner_image_url"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "parent_id%20asc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Admin POS",
          "Services",
          "Categories"
        ],
        "summary": "[POST] Service collection",
        "description": "[POST] Service collection",
        "operationId": "postServiceCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Nhà hàng"
                  },
                  "parent_id": {
                    "nullable": true,
                    "example": null
                  },
                  "slug": {
                    "type": "string",
                    "example": "Nhà hàng"
                  }
                }
              },
              "examples": {
                "[POST] Service collection": {
                  "value": {
                    "name": "Nhà hàng",
                    "parent_id": null,
                    "slug": "Nhà hàng"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/service-categories/{id}": {
  "delete": {
    "tags": [
      "Admin POS",
      "Services",
      "Categories"
    ],
    "summary": "[DELETE] Service Category",
    "description": "Xóa danh mục dịch vụ theo ID.",
    "operationId": "deleteServiceCollection",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ID của danh mục dịch vụ cần xóa."
      }
    ],
    "responses": {
      "200": {
        "description": "Xóa danh mục dịch vụ thành công."
      },
      "404": {
        "description": "Không tìm thấy danh mục dịch vụ."
      },
      "401": {
        "description": "Không có quyền truy cập."
      }
    },
    "security": [
      {
        "bearerAuth": []
      }
    ]
  }
},
    "/api/v1/services": {
      "get": {
        "tags": [
          "Admin POS",
          "Services",
          "Service"
        ],
        "summary": "[GET] Service collection",
        "description": "[GET] Service collection",
        "operationId": "getServiceCollection1",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id,xid,title,item_code,parent_id,service_type,x_parent_id,quantity,link_video,video,video_url,slug,unit_id,x_unit_id,unit{id,xid,name,short_name},is_active,x_warehouse_id,image,image_url,x_service_category_id,warehouse_id,service_category_id,category{id,xid,name},details:warehouse{id,xid,name},description,procedure,warehouse{id,xid,name},details{id,xid,sales_price,tax_id,x_tax_id,sales_tax_type},combo{id,xid},parent_id,x_parent_id,combo.limit(10000){id,xid,quantity},combo:service.limit(10000){id,xid,title,image,image_url},variations{id,xid,title,slug,service_type,slug,quantity,image_partner,service_type,is_active,link_video,video,video_url,image,image_url,service_category_id,x_service_category_id,unit_id,x_unit_id},variations:serviceVariations{id,xid,service_id,x_service_id,variant_id,x_variant_id,variant_value_id,x_variant_value_id},variations:category{id,xid,name},variations:unit{id,xid,name,short_name},variations:serviceVariations:variation{id,parent_id,x_parent_id,xid,name},variations:serviceVariations:variation:parentVariation{id,xid,name},variations:serviceVariations:variationType:parentVariation{id,xid,name},variations:serviceVariations:variationType{id,xid,parent_id,x_parent_id,name},variations:details.limit(10000){mrp,sales_price,tax_id,x_tax_id,sales_tax_type,warehouse_id,x_warehouse_id},variations:details:tax{id,xid,name,rate},variations:details:warehouse{id,xid,name},collections.limit(1000){xid,name}"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "id%20desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collections": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "combo": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "custom_collections": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "description": {
                    "type": "string",
                    "example": "<p>Dịch vụ nhiều ưu đãi</p>"
                  },
                  "image": {
                    "type": "string",
                    "example": "restaurant_7a0b9437e2.jpg"
                  },
                  "image_url": {
                    "type": "string",
                    "example": "https://aimini-upload.sgp1.digitaloceanspaces.com/services/restaurant_7a0b9437e2.jpg"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "item_code": {
                    "type": "number",
                    "example": 2264112344
                  },
                  "link_video": {
                    "nullable": true,
                    "example": null
                  },
                  "listService": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "quantity": {
                          "type": "number",
                          "example": 5
                        },
                        "x_parent_id": {
                          "nullable": true,
                          "example": null
                        },
                        "xid": {
                          "type": "string",
                          "example": "nBWM73q5"
                        }
                      }
                    },
                    "example": [
                      {
                        "quantity": 5,
                        "x_parent_id": null,
                        "xid": "nBWM73q5"
                      },
                      {
                        "quantity": 5,
                        "x_parent_id": null,
                        "xid": "l7r74zqJ"
                      }
                    ]
                  },
                  "procedure": {
                    "type": "string",
                    "example": "<p>liệu trình cho nhiều lần </p><p>làm khỏe cơ thể </p><p>gội đầu dưỡng sinh</p>"
                  },
                  "quantity": {
                    "type": "number",
                    "example": 1
                  },
                  "sales_price": {
                    "type": "number",
                    "example": 500000
                  },
                  "sales_tax_type": {
                    "type": "string",
                    "example": "exclusive"
                  },
                  "service_category_id": {
                    "type": "string",
                    "example": "RAb2OWx2"
                  },
                  "service_type": {
                    "type": "string",
                    "example": "combo"
                  },
                  "slug": {
                    "type": "string",
                    "example": "dich-vu-lam-khoe"
                  },
                  "tax_id": {
                    "nullable": true,
                    "example": null
                  },
                  "title": {
                    "type": "string",
                    "example": "Dịch vụ làm khỏe"
                  },
                  "unit_id": {
                    "type": "string",
                    "example": "Vbn0wvkr"
                  },
                  "variations": {
                    "nullable": true,
                    "example": null
                  },
                  "video": {
                    "nullable": true,
                    "example": null
                  },
                  "video_url": {
                    "nullable": true,
                    "example": null
                  },
                  "warehouse_id": {
                    "type": "string",
                    "example": "KbKe32rL"
                  }
                }
              },
              "examples": {
                "[GET] Service collection": {
                  "value": {
                    "collections": [],
                    "combo": [],
                    "custom_collections": [],
                    "description": "<p>Dịch vụ nhiều ưu đãi</p>",
                    "image": "restaurant_7a0b9437e2.jpg",
                    "image_url": "https://aimini-upload.sgp1.digitaloceanspaces.com/services/restaurant_7a0b9437e2.jpg",
                    "is_active": true,
                    "item_code": 2264112344,
                    "link_video": null,
                    "listService": [
                      {
                        "quantity": 5,
                        "x_parent_id": null,
                        "xid": "nBWM73q5"
                      },
                      {
                        "quantity": 5,
                        "x_parent_id": null,
                        "xid": "l7r74zqJ"
                      }
                    ],
                    "procedure": "<p>liệu trình cho nhiều lần </p><p>làm khỏe cơ thể </p><p>gội đầu dưỡng sinh</p>",
                    "quantity": 1,
                    "sales_price": 500000,
                    "sales_tax_type": "exclusive",
                    "service_category_id": "RAb2OWx2",
                    "service_type": "combo",
                    "slug": "dich-vu-lam-khoe",
                    "tax_id": null,
                    "title": "Dịch vụ làm khỏe",
                    "unit_id": "Vbn0wvkr",
                    "variations": null,
                    "video": null,
                    "video_url": null,
                    "warehouse_id": "KbKe32rL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin POS",
          "Services",
          "Service"
        ],
        "summary": "[POST] Service collection",
        "description": "[POST] Service collection",
        "operationId": "postServiceCollection1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "collections": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "combo": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "custom_collections": {
                    "type": "array",
                    "items": {},
                    "example": []
                  },
                  "description": {
                    "type": "string",
                    "example": "<p>Dịch vụ nhiều ưu đãi</p>"
                  },
                  "image": {
                    "type": "string",
                    "example": "restaurant_7a0b9437e2.jpg"
                  },
                  "image_url": {
                    "type": "string",
                    "example": "https://aimini-upload.sgp1.digitaloceanspaces.com/services/restaurant_7a0b9437e2.jpg"
                  },
                  "is_active": {
                    "type": "boolean",
                    "example": true
                  },
                  "item_code": {
                    "type": "number",
                    "example": 2264112344
                  },
                  "link_video": {
                    "nullable": true,
                    "example": null
                  },
                  "listService": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "quantity": {
                          "type": "number",
                          "example": 5
                        },
                        "x_parent_id": {
                          "nullable": true,
                          "example": null
                        },
                        "xid": {
                          "type": "string",
                          "example": "nBWM73q5"
                        }
                      }
                    },
                    "example": [
                      {
                        "quantity": 5,
                        "x_parent_id": null,
[...]
